@using RMS.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    IPagedList<RMS.Models.Policy> context = (IPagedList<RMS.Models.Policy>)ViewData["context"];
    ViewBag.Title = "政策文件";
}
@section Head {
    @Styles.Render("~/bundles/notices")
}
<div class="news-list">
    <div class="col-title">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-list">
        <ul>
            @foreach (Policy li in context)
            {
                <li><span>@li.date.ToString("yyyy-MM-dd")</span>@Html.ActionLink(li.title, "ViewContent/" + li.ID, "Policy", routeValues: null, htmlAttributes: new { target = "_blank" })</li>
            }
        </ul>
    </div>
    @Html.PagedListPager(context, id => Url.Action("Index", new { id }))
</div>