@model RMS.Models.Project
@{
    ViewBag.Title = "新项目申请";
    Layout = "~/Views/Students/_Layout.cshtml";
}
@section Head {
    @Styles.Render("~/Content/newproject")
    @Scripts.Render("~/bundles/newproject")
}
<div id="xxmsq">
    @using (Html.BeginForm("NewProject", "Students"))
    {
        <div class="row">
            <div class="col-md-12 col section">
                <p>一、项目信息</p>
            </div>
        </div>
        <div class="row table-start">
            <div class="col-md-2 col col1 col-start">
                <p class="p1">项目名称</p>
            </div>
            <div class="col-md-10 col col1">
                @Html.TextBoxFor(x => x.projectName, new { @class = "form-control", type = "text" })
            </div>
        </div>
        <div class="row" style="height: 65px">
            <div class="col-md-2 col col1 col-start" style="height: 100%">
                <p class="p1">项目类别及属性</p>
            </div>
            <div class="col-md-6 col col1" style="height: 100%;padding: 0;text-align: center">
                <div style="width: 100%;height: 100%">
                    <div class="row" style="height: 50%">
                        <div class="col-md-12 col2" style="border-bottom:solid 1px black;height: 100%;">
                            <p style="height: 100%;line-height:31px;margin:0">一般项目</p>
                        </div>
                    </div>
                    <div class="row" style="height: 50%">
                        <div class="col-md-4 col2" style="border-right:solid 1px black;height: 100%">
                            @Html.RadioButtonFor(x => x.projectType, 0, new { @class = "xx", @checked = "" })<label for="projectType" style="display:inline;margin-bottom: inherit;font-weight: inherit;">指南类项目</label>
                        </div>
                        <div class="col-md-4 col2" style="border-right:solid 1px black;height: 100%">
                            @Html.RadioButtonFor(x => x.projectType, 1, new { @class = "xx" })<label for="projectType" style="display:inline;margin-bottom: inherit;font-weight: inherit;">自选项目</label>
</div>
                        <div class="col-md-4 col2" style="height: 100%">
                            @Html.RadioButtonFor(x => x.projectType, 2, new { @class = "xx" })<label for="projectType" style="display:inline;margin-bottom: inherit;font-weight: inherit;">创业项目</label>
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col col1" style="height: 100%;text-align: center">
                @Html.RadioButtonFor(x => x.projectType, 3, new { @class = "xx" })<label for="projectType" style="display:inline;margin-bottom: inherit;font-weight: inherit;">定向资助项目</label>
</div>
            <div class="col-md-2 col col1" style="height: 100%;text-align: center">
                @Html.RadioButtonFor(x => x.projectType, 4, new { @class = "xx" })<label for="projectType" style="display:inline;margin-bottom: inherit;font-weight: inherit;">延续资助项目</label>
</div>
        </div>
        <div class="row">
            <div class="col-md-4 col col1 col-start">
                <p class="p1">项目所属一级学科</p>
            </div>
            <div class="col-md-8 col col1">
                @Html.TextBoxFor(x => x.projectSubject, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" name="yxzzxmxq" style="display: none">
            <div class="col-md-12 col col1 col-start">
                <p class="p1">以往项目信息（延续资助项目必填）</p>
            </div>
        </div>
        <div class="row" name="yxzzxmxq" style="display: none">
            <div class="col-md-2 col col1 col-start">
                <p class="p1">项目名称</p>
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.passProject, new { @class = "form-control" })
            </div>
            <div class="col-md-2 col col1">
                <p class="p1">项目级别</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.passProjectClass, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" name="yxzzxmxq" style="display: none">
            <div class="col-md-3 col col1 col-start">
                <p class="p1">项目负责人姓名</p>
            </div>
            <div class="col-md-2 col col1">
               @Html.TextBoxFor(x => x.passLeaderName, new { @class = "form-control" })
            </div>
            <div class="col-md-2 col col1">
                <p class="p1">联系方式</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.passLeaderPhone, new { @class = "form-control" })
            </div>
            <div class="col-md-1 col col1">
                <p class="p1">学号</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.paaLeaderSno, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" name="yxzzxmxq" style="display: none">
            <div class="col-md-3 col col1 col-start">
                <p class="p1">项目指导教师姓名</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.passTeacherName, new { @class = "form-control" })
            </div>
            <div class="col-md-2 col col1">
                <p class="p1">联系方式</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.passTeacherPhone, new { @class = "form-control" })
            </div>
            <div class="col-md-1 col col1">
                <p class="p1">职称</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.passTeacherTitle, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col section">
                <p>二、项目申请人情况</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col sub-section">
                <p>项目负责人</p>
            </div>
        </div>
        <div class="row table-start">
            <div class="col-md-2 col col1 col-start">
                <p class="p1">姓名</p>
            </div>
            <div class="col-md-2 col col1">
                @Html.TextBoxFor(x => x.leader.name, new { @class = "form-control" })
            </div>
            <div class="col-md-1 col col1">
                <p class="p1">性别</p>
            </div>
            <div class="col-md-2 col col1">
               @Html.DropDownListFor(x => x.leader.sex, new List<SelectListItem>() { new SelectListItem() { Text = "男", Value = "true" }, new SelectListItem() { Text = "女", Value = "false" } }, new { @class = "form-control" })
            </div>
            <div class="col-md-2 col col1">
                <p class="p1">学号</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.TextBoxFor(x => x.leader.sno, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col col1 col-start">
                <p class="p1" style="margin: -3px auto">所在院（系）</p>
            </div>
            <div class="col-md-4 col col1">
                @Html.DropDownListFor(x => x.leader.academy, RMS.Models.DBHelper.instence.Academy.Select(x => new SelectListItem() { Text = x.academy, Value = x.ID.ToString() }), new { @class = "form-control" })
            </div>
            <div class="col-md-2 col col1">
                <p class="p1">专业、班级</p>
            </div>
            <div class="col-md-4 col col1">
                @Html.TextBoxFor(x => x.leader.subject, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col col1 col-start">
                <p class="p1">身份证号</p>
            </div>
            <div class="col-md-10 col col1">
                @Html.TextBoxFor(x => x.leader.identity, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col col1 col-start">
                <p class="p1">电子邮箱</p>
            </div>
            <div class="col-md-4 col col1">
                @Html.TextBoxFor(x => x.leader.email, new { @class = "form-control" })
            </div>
            <div class="col-md-3 col col1">
                <p class="p1">联系电话及手机</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.TextBoxFor(x => x.leader.phone, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col" style="text-align: center">
                <button class="btn btn-default" type="button" id="tjxcy">添加一个新成员</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col sub-section">
                <p>指导教师</p>
            </div>
        </div>
        <div class="row table-start">
            <div class="col-md-6 col col1 col-start">
                <select id="zdjsszyx" class="form-control">
                    <option>请选择指导教师所在院系</option>
                </select>
            </div>
            <div class="col-md-6 col col1">
                <select id="zdjsxm" class="form-control">
                    <option>请选择指导教师</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col section">
                <p>三、申请人对研究项目简要说明</p>
            </div>
        </div>
        <div class="row table-start">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>（一）立项依据（项目的背景、理论与实际意义、国内外现状分析）</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.baseon, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>（二）研究目标、内容、拟解决的关键问题（包括实验方案的设计、技术路线等）</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.purpose, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>（三）研究的进度安排</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.schedule, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>（四）成果形式（延续类项目必须明确具体的成果形式，如期刊论文、专著、专利以及参加国内外学术会议等形式）</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.format, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>(五)项目创新特色概述（50字以内）</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.special, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col col1 col-start">
                <div>
                    <div>
                        <p>（六）申请人参加科研的经历</p>
                    </div>
                    <div>
                        @Html.TextAreaFor(x => x.experience, new { @class = "form-control wbk" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col section">
                <p>四、申请资助金额和经费预算</p>
            </div>
        </div>
        <div class="row table-start">
            <div class="col-md-12 col col1 col-start">
                <p class="p1">
                    项目经费共计（<span name="totalfund">0.00</span>）元
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1">预算支出科目</p>
            </div>
            <div class="col-md-3 col col1">
                <p class="p1">支出金额（元）</p>
            </div>
            <div class="col-md-6 col col1">
                <p class="p1">预算根据及理由</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1" style="text-align: left">1．图书资料费</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.HiddenFor(x => x.fund.ElementAt(0).fundType, new { value = "0" })
                @Html.TextBoxFor(x => x.fund.ElementAt(0).money, new { type = "number", @class = "form-control" })
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.fund.ElementAt(0).reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1" style="text-align: left">2．实验材料费</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.HiddenFor(x => x.fund.ElementAt(1).fundType, new { value = "1" })
                @Html.TextBoxFor(x => x.fund.ElementAt(1).money, new { type = "number", @class = "form-control" })
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.fund.ElementAt(1).reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1" style="text-align: left">3．调研费</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.HiddenFor(x => x.fund.ElementAt(2).fundType, new { value = "2" })
                @Html.TextBoxFor(x => x.fund.ElementAt(2).money, new { type = "number", @class = "form-control" })
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.fund.ElementAt(2).reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1" style="text-align: left">4．印刷费</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.HiddenFor(x => x.fund.ElementAt(3).fundType, new { value = "3" })
                @Html.TextBoxFor(x => x.fund.ElementAt(3).money, new { type = "number", @class = "form-control" })
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.fund.ElementAt(3).reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1" style="text-align: left">5．成果转化费</p>
            </div>
            <div class="col-md-3 col col1">
                @Html.HiddenFor(x => x.fund.ElementAt(4).fundType, new { value = "4" })
                @Html.TextBoxFor(x => x.fund.ElementAt(4).money, new { type = "number", @class = "form-control" })
            </div>
            <div class="col-md-6 col col1">
                @Html.TextBoxFor(x => x.fund.ElementAt(4).reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col col1 col-start">
                <p class="p1">合计</p>
            </div>
            <div class="col-md-3 col col1">
                <p class="p1">￥<span name="totalfund">0.00</span></p>
            </div>
            <div class="col-md-6 col col1">
                <p class="p1">&nbsp;</p>
            </div>
        </div>
    <div style="margin: 20px auto;text-align: center">
        <button type="submit" class="btn btn-default" style="width: 80px;">提交</button>
        <button type="reset" class="btn btn-danger" style="width: 80px;">重置</button>
    </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("form").submit(function () {
            $.post($(this).attr("action"), $(this).serialize(), function (response) {
                alert(response.message);
            });
            return false;
        });
    });
</script>
