@using RMS.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    IPagedList<RMS.Models.Table> context = (IPagedList<RMS.Models.Table>)ViewData["context"];
    ViewBag.Title = "表格下载";
}
@section head
{
    @Styles.Render("~/bundles/table")
}
<div id="bgxz">
    <div class="title">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="list">
        <ul>
            @foreach (Table li in context)
            {
                <li>
                    <a href="@("/Download/?hash="+li.file.MD5)">
                        <div class="file-icon" data-type="@li.file.fileExt"></div>
                        <div>
                            @li.title
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>

    @Html.PagedListPager(context, id => Url.Action("Index", new { id }))
</div>