@{
    ViewBag.Title = "首页";
}
@using RMS.Models
    <!-- start slide -->
@section head
{
    @Styles.Render("~/Content/home")
}
<div class="banner" id="banner">
    <div class="banner_show" id="banner_show">
        @foreach (var banner in DBHelper.instence.Banners.ToList())
        {
            <a class="bannger_inbox"><img src="@Html.DisplayFor(x=> "/Download/"+banner.src.ID)" width="1440" height="550" /></a>
        }
        <div class="banner_pre_next"> <a href="javascript:;" class="banner_btn_left">上一个</a> <a href="javascript:;" class="banner_btn_right">下一个</a> </div>
    </div>
</div>


<!-- end slide -->
<!-- start content -->

<div class="content">

    <!-- start notifications -->
    <div class="notifications">
        <div class="content-title">
            @Html.ActionLink("通知公告", "Index", "Notices", routeValues: null, htmlAttributes: new { @class = "title-text" })
        </div>
        <div class="content-list">
            <ul>
                @foreach(var notice in DBHelper.instence.Notices.OrderByDescending(p => p.ID).Take(5).ToList()){
                    <li><span>@notice.date.ToString("MM-dd")</span>@Html.ActionLink(notice.title, "ViewContent/" + notice.ID, "Notices", routeValues: null, htmlAttributes: new { target = "_blank" })</li>
                }
            </ul>
        </div>
    </div>
    <!-- end nottifications -->
    <!--start news-->
    <div class="news">
        <div class="content-title">
            @Html.ActionLink("焦点新闻", "Index", "News", routeValues: null, htmlAttributes: new { @class = "title-text" })
        </div>
        <div class="content-list">
            <ul>
                @foreach (var news in DBHelper.instence.News.OrderByDescending(p => p.ID).Take(5).ToList())
                {
                    <li><span>@news.date.ToString("MM-dd")</span>@Html.ActionLink(news.title, "ViewContent/" + news.ID, "News", routeValues: null, htmlAttributes: new { target = "_blank" })</li>
                }
            </ul>
        </div>
    </div>
    <!--end news-->

</div>

<!-- end content -->
@section Scripts {
    @Scripts.Render("~/bundles/home")
}